:root {
    --glow-hue: 222deg;
    --shadow-hue: 180deg;
    --spring-easing: linear(0, 0.002, 0.01 0.9%, 0.038 1.8%, )
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}